<html>

<head>

    <title>Dhamu Crud API</title>
<!--    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">-->
<!--<link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>


<div class="container">

    <div class="well text-center">

        <h1>Python Flask CRUD Web Application Development</h1>


    </div>
</div>